In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import math
from word2number import w2n

In [2]:
data_fram = pd.read_csv("hiring.csv")
data_fram

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [3]:
pip install word2number

Requirement already satisfied: word2number in c:\users\hp probook\appdata\local\programs\python\python38\lib\site-packages (1.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import math
median_testscore = math.floor(data_fram['test_score(out of 10)'].median())
median_testscore

8

In [5]:
data_fram['test_score(out of 10)']

0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     NaN
7     7.0
Name: test_score(out of 10), dtype: float64

In [6]:
data_fram['test_score(out of 10)']=data_fram['test_score(out of 10)'].fillna(data_fram['test_score(out of 10)'].median())

In [7]:
from word2number import w2n
data_fram

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [8]:
data_fram = data_fram.replace([np.nan, -np.inf], 0)
data_fram

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [18]:
def convert_experience_to_numeric(experience):
    try:
        return w2n.word_to_num(experience)
    except ValueError:
        return experience
data_fram['experience'] = data_fram['experience'].astype(str)
data_fram['experience'] = data_fram['experience'].apply(convert_experience_to_numeric)
print(data_fram)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [21]:
#Import Linear Model
reg = linear_model.LinearRegression()

In [22]:
# Extracting predictor variables and target variable
X = data_fram[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']]
y = data_fram['salary($)']

# Fitting the regression model
reg.fit(X, y)

LinearRegression()

In [23]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [24]:
reg.intercept_

17737.263464337688

In [25]:
reg.predict([[2,9,6]])

c:\users\hp probook\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [26]:
2*2812.95487627+9*1845.70596798+6*2205.24017467+17737.263464337688

53205.96797671769